<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- ================ Template :: /template_new.html ================ -->   

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />
<title>@@TITLE@@</title>

<link rel="shortcut icon" href="http://www.yogalivelink.com/favicon3.ico" />


<style type="text/css" media="screen">
    @import url(/wo/wo_style.css);
    @import url(/office/css/office_site.css);
    @import url(/office/css/office_site_class_styles.css);
    @import url(/GROUP/jslib/themes/base/ui.core.css;jslib/themes/base/ui.theme.css;jslib/themes/base/ui.datepicker.css);

</style>
<link rel="stylesheet" type="text/css" media="screen" href="/css/site_new.css" />

<!-- IE 6 hacks -->
<!-- [if lt IE 7] -->
<!-- link type='text/css' href='/css/i_css_contact_ie.css' rel='stylesheet' media='screen' / -->
<!-- [endif] -->
<!-- @@STYLE@@ -->

<style type="text/css" media="screen">

</style>


<script type="text/javascript" src="/jslib/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>
<script type="text/javascript" src="/wo/wo_all.js??20100924-4"></script>
<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@SCRIPT@@ -->
</head>
<!-- @@META_HIDDEN@@ -->
<body>

<!-- @@BETA@@ -->

<div style="height:268px; width:44px; position:fixed; right:0px; top:80px; display:none;">
<a href="#" onclick="top.parent.appformCreateOverlay('Contact Us', getClassExecuteLinkNoAjax('y6uGY5ChTTLeRLCOwH64xyNo02WC8DbqQYCi79O8W0l4RVk~')+';template=overlay', 'apps'); return false;"><img src='/images/menu_float_contact_us.png' alt='Contact Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/signup'><img src='/images/menu_float_get_started.png' alt='Get Started With Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/test_computer'><img src='/images/menu_float_test_system.png' alt='Test Your Camera' border='0' /></a>
</div>

@@PHPERROR@@
@@MESSAGE@@
@@ERROR@@
@@FLASH@@


<center>

<div style="_background-color:#EDE0C2; z-index:10; position:relative;" class="__new_header shadow_bottom">
    <br />
    <div class="content_wrap" style="">
        <!-- ================================ START :: HEADER & MENU ===================================== -->
        <div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" valign="top">
                    <div id="header_graphics">
                        <a href="/index">
                        <img src="/office/images/yogalivelinks_header.png" alt="" height="50px" width="200px" border="0" />
                        </a>
                    </div>
                </td>
                <td align="right" valign="top">
                    <div id="menu_holder">
                        <div class="menu">
                            @@MENU@@
                        </div>    
                    </div>
                </td>
                <td align="right" valign="top">
                    <div id="menu_holder_vertical">
                        <div class="menu_vertical">
                            @@MENU_LOGGED@@
                        </div>
                    </div>
                </td>
            </tr>
            </table>
        </div>
        <!-- ================================ END :: HEADER & MENU ===================================== -->
    </div>
    <br />
</div>



<div style="position:relative; z-index:8;" id="content_middle" >

    <img src="/images/bamboo2.jpg" class="background_img" />


    <div class="content_wrap_2">
    <div class="content_wrap">
            <!-- ================================ START :: CONTENT ===================================== -->
            <div id="_content_area">
                <br /><br />
                
                
        <table width="100%" border="0">
           
            <tr>
                <td rowspan="2">
                    
                    
                    
                    <div id="slideshow_wrapper" style="border:0px; ">
                    <div id="box">
                        <div class="slideshow" style="">
                            <img class="image" src="/images/slider/slider_student_teacher.jpg" alt="" border="0"  />        
                            <img class="image" src="/images/slider/slider_young_woman.jpg" alt="" border="0"  />
                            <img class="image" src="/images/slider/slider_man.jpg" alt="" border="0"  />
                            <img class="image" src="/images/slider/slider_woman_baby.jpg" alt="" border="0"  />
                            <img class="image" src="/images/slider/slider_old_woman.jpg" alt="" border="0"  />
                            <img class="image" src="/images/slider/slider_african_woman.jpg" alt="" border="0"  />
                        </div> <!-- END of slider -->
                    </div>
                    </div>
                    
                    
                    
                    <div style="padding-left:20px; display:none;">
                    <br />
                    <div class='index_header' style="font-size:40px;"><a href="/signup" style="color:#A71249;">Get Started Today</a></div>
                    
                    
                    <ul style="font-size:14px; font-family:serif;">            
                    <li>Build strength and vitality with 1-on-1 training</li>
                    <li>Sessions available most any time</li>
                    <li>More affordable than private yoga sessions at a studio</li>

                    <li>Easy to get started </li>
                    </ul>
                    </div>
                    
                </td>
                <td valign="top" align="left">
                    
                    <div style="padding-left:12px;">
                        <br /><br />
                        <div class="index_header" style="font-size:36px;">Personalized Yoga</div>
                        <div class="index_header_sub" style="font-size:18px; color:#494949;">Build strength and vitality with<br /><b>Live</b>, <b>Private</b>, <b>One on One</b> yoga.</div>
                        <br /><br /><br /><br />
                        <center>
                        <div style="padding-bottom:10px;"><a href="/how_yll_works" class="index_button_simple">How it Works</a></div>
                        <div style="padding-bottom:10px; display:none;"><a href="/pricing" class="index_button_simple">Pricing</a></div>
                        <div style="padding-bottom:0px;"><a href="/signup" class="index_button_simple_red">Get Started!</a></div>
                        </center>
                    </div>  
                    
                </td>
            </tr>
            
            <tr>
                <td valign="bottom" align="center" style="display:none;">
                    <div style="padding-bottom:10px;"><a href="/how_yll_works" class="index_button_simple">How it Works</a></div>
                    <div style="padding-bottom:10px;"><a href="/pricing" class="index_button_simple">Pricing</a></div>
                    <div style="padding-bottom:0px;"><a href="/signup" class="index_button_simple_red">Get Started!</a></div>

                </td>
            </tr>
            
            <tr style="display:none;">
                <td colspan="2">
                    <br /><br />
                    <br /><br />
                    <br /><br />
                    <table cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
                            <td align='left' valign='top'>

                            <div class="index_box_holder">
                                <div class="index_box_header"><a class='index_box_header' href='instructors'>Instructors</a></div>
                                <div class="index_box_image"><a href="instructors"><img src='images/box_1.jpg' alt='' border='0' width='175' height='101' /></a></div>
                                <div class="index_box_content">We work with some of the best instructors in the industry. Learn about instructors through their profiles and find those who teach the styles that work for you. Experience the power of private sessions tailored to your goals and lifestyle <span class="index_box_link"><a href="instructors">Read more...</a></span></div>
                            </div>
                            </td>
                        
                            <td align='center' valign='top'>

                            <div class="index_box_holder">
                                <div class="index_box_header"><a class='index_box_header' href='article'>Learning Center</a></div>
                                <div class="index_box_image"><a href="article"><img src='images/box_2.jpg' alt='' border='0' width='175' height='101' /></a></div>
                                <div class="index_box_content">Check out our collection of articles and information to gain insight into yoga styles, terms, trends, and tips. Discover how a strong yoga practice integrates your body, mind, and spirit to keep you calm, awake and aware in a fast-paced world. <span class="index_box_link"><a href="article">Read more...</a></span></div>
                            </div>
                            </td>
                        
                            <td align='center' valign='top'>

                            <div class="index_box_holder">
                                <div class="index_box_header"><a class='index_box_header' href='yoga_therapy'>Yoga Therapy</a></div>
                                <div class="index_box_image"><a href="yoga_therapy"><img src='images/box_3.jpg' alt='' border='0' width='175' height='101' /></a></div>
                                <div class="index_box_content">Using the powerful tools of yoga such as focused breathing, visualization, and movement, Yoga Therapists and practitioners work as a team to create a healing experience. Explore the history and benefits of the Yoga Therapy healing arts field. Learn more. <span class="index_box_link"><a href="yoga_therapy">Read more...</a></span></div>
                            </div>
                            </td>
                        
                            <td align='right' valign='top'>

                            <div class="index_box_holder">
                                <div class="index_box_header"><a class='index_box_header' href='store'>Store</a></div>
                                <div class="index_box_image"><a href="store"><img src='images/box_4.jpg' alt='' border='0' width='175' height='101' /></a></div>
                                <div class="index_box_content">Great webcams, stylish yoga clothing, yoga mats, and all the right gear to support your yoga flow. Check out this selection of webcams that will make your experience with YogaLiveLink online private yoga sessions even more enjoyable. <span class="index_box_link"><a href="store">Read more...</a></span></div>
                            </div>
                            </td>
                        </tr></table>

                </td>
            </tr>
        </table>
<div style="display:none;">
        <a class="fancyYouTube" id="vid1" href="http://infxapps.influxis.com/apps/jhoy0ijutn4f8jc5vz10/InfluxisPlayer_20110506170520/InfluxisPlayer.html">
            <img alt="View Demo Video" src="/images/template/video_play_box.gif" border="0" width="200" />
            <div class="index_header" style="font-size:12px;">Watch our introduction video</div>
        </a>    
        <br />
        <a href="http://getfitnow.cascadiaaudio.com/getfitnow209.mp3" target="_radioshow">
            <img class="image" src="/images/yoga---radio-show.jpg" alt="" border="0" width="200" /> 
            <div class="index_header" style="font-size:12px;">Radio interview with YogaLiveLink.com</div>
        </a>
</div>
                
                
            </div> <!-- END :: _content_area -->
            <!-- ================================ END :: CONTENT ===================================== -->
    </div> <!-- END :: content_wrap -->
    </div> <!-- END :: content_wrap_2 -->
</div>


<div style="clear:both;"></div>


<div style="position:relative; z-index:50; top:400px;">
<div class="content_wrap">
<br /><br />
    <table>
    <tr>
    <td valign="top">
    <div style="width: 600px;">
        <div class="lower_header">Instructor Spotlight ::</div>
        <div class="lower_content">
            <div>
            <br />
            <div style="float:left; _display:inline; width:140px;"><img src="http://www.yogalivelink.com/office/images/instructors/thumbnail_1305523918.jpg" width="120" alt="Zamanta" border="0" /></div>
            <div style="float:left; _display:inline; width:75%;"><b>Zamanta Archibold</b><br /><br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula feugiat consequat. Nullam accumsan semper convallis. Praesent consectetur scelerisque nulla, at condimentum neque aliquam id. Aenean rutrum, nunc sed ullamcorper feugiat, felis erat rhoncus diam, at dignissim ligula elit a augue. Aenean venenatis nulla ac purus auctor et fermentum nunc pellentesque. Duis volutpat fermentum augue non semper. Sed sit amet est nunc, sit amet aliquet leo.</div> 
            <div class="clear"></div>
            </div>
        </div>


        <br /><br />
        <br /><br />
        
        
        <div class="lower_header">Yoga Therapy ::</div>
        <div class="lower_content">
            <div>
            <br />
            <div style="float:left; _display:inline; width:195px;"><img src="http://www.yogalivelink.com/images/box_3.jpg" width="175" alt="Zamanta" border="0" /></div>
            <div style="float:left; _display:inline; width:60%;">Using the powerful tools of yoga such as focused breathing, visualization, and movement, Yoga Therapists and practitioners work as a team to create a healing experience. Explore the history and benefits of the Yoga Therapy healing arts field. Learn more. Read more...</div> 
            <div class="clear"></div>
            </div>
        </div>
        
        
        <br /><br />
        <br /><br />
        
        
        <div style="background-color:#efefef; padding:10px;">
            <a href="http://getfitnow.cascadiaaudio.com/getfitnow209.mp3" target="_radioshow">
                <img class="image" src="/images/yoga---radio-show.jpg" alt="" border="0" width="200" /> 
                <div class="index_header" style="font-size:12px;">Radio interview with YogaLiveLink.com</div>
            </a>
        </div>
        
    </div>
    </td>
    <td>
    <div style="width:50px;">&nbsp;
    </div>
    </td>
    <td valign="top">
    <div style="width: 300px;">
        <div class="lower_header">Benefits ::</div>
        <div class="lower_content">
            <img src="http://www.yogalivelink.com/images/box_2.jpg" style="float:left; margin-right: 5px;" width="175" alt="Zamanta" border="0" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis consequat dolor. Cras dapibus mi nec lacus pellentesque vehicula. Ut felis lorem, mollis ac porta et, tristique rhoncus erat. Vivamus sem augue, condimentum et consectetur et, venenatis eget augue. Cras tortor turpis, dictum sed facilisis ac, lobortis sed metus. Suspendisse euismod pellentesque bibendum. Morbi porta congue placerat. Nulla facilisi. Sed turpis augue, pretium ut vehicula faucibus, egestas id lectus. Duis accumsan, ligula vitae lacinia dictum, ligula ante lobortis enim, nec bibendum odio massa ac ipsum. Mauris non diam in eros condimentum tempor viverra ac leo.
            <br /><br />
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula feugiat consequat. Nullam accumsan semper convallis. Praesent consectetur scelerisque nulla, at condimentum neque aliquam id. Aenean rutrum, nunc sed ullamcorper feugiat, felis erat rhoncus diam, at dignissim ligula elit a augue. Aenean venenatis nulla ac purus auctor et fermentum nunc pellentesque. Duis volutpat fermentum augue non semper. Sed sit amet est nunc, sit amet aliquet leo. 
        </div>
    </div>
    </td>
    </tr>
    </table>

</div> <!-- END :: content_wrap_2 -->


<!-- FOOTER -->

<br /><br /><br />
<div style="background-color:#999; border-top:4px solid #000;">
<br /><br />
            <div id="footertext">
                <center>
                
                <div class="footer_menu">
                    <table>
                    <tr>
                        <td valign="top" align="left">@@FOOTER_OTHER@@</td>
                        <td valign="bottom" align="right">@@FOOTER_LINKS@@</td>
                        
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@@FOOTER_COPYRIGHT@@</td>
                    </tr>
                    </table>
                </div>
                
                </center>
            </div>
<br /><br />
</div>


<!-- FOOTER -->
</div>




        @@DBMESSAGES@@
</center>


</body>
</html>