<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />
<title>@@TITLE@@</title>

<!-- ========== template_inner_1col.html ========== -->

<link rel="shortcut icon" href="http://www.yogalivelink.com/favicon3.ico" />

<style type="text/css" media="screen">
  @import url(/wo/wo_style.css);
  @import url(/office/css/office_site.css);
  @import url(/office/css/office_site_class_styles.css);
  @import url(/GROUP/jslib/themes/base/ui.core.css;jslib/themes/base/ui.theme.css;jslib/themes/base/ui.datepicker.css);
</style>
<link rel="stylesheet" type="text/css" media="screen" href="/css/site.css" />


<!-- IE 6 hacks -->
<!-- [if lt IE 7] -->
<!-- link type='text/css' href='/css/i_css_contact_ie.css' rel='stylesheet' media='screen' / -->
<!-- [endif] -->
<!-- @@STYLE@@ -->

<script type="text/javascript" src="/jslib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>
<script type="text/javascript" src="/wo/wo_all.js??20100924-4"></script>
<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@SCRIPT@@ -->
</head>
<!-- @@META_HIDDEN@@ -->
<body>

@@BETA@@

<div style="height:268px; width:44px; position:fixed; right:0px; top:80px; display:none;">
<a href="#" onclick="top.parent.appformCreateOverlay('Contact Us', getClassExecuteLinkNoAjax('y6uGY5ChTTLeRLCOwH64xyNo02WC8DbqQYCi79O8W0l4RVk~')+';template=overlay', 'apps'); return false;"><img src='/images/menu_float_contact_us.png' alt='Contact Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/signup'><img src='/images/menu_float_get_started.png' alt='Get Started With Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/test_computer'><img src='/images/menu_float_test_system.png' alt='Test Your Camera' border='0' /></a>
</div>

@@PHPERROR@@
@@MESSAGE@@
@@ERROR@@
@@FLASH@@ 
<br />

<center>
<div id="container">

    
    
<div id="container_wrapper">
    <!-- ================================ HEADER & MENU ===================================== -->
    <div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" valign="top">
                <div id="header_graphics">
                    <a href="/index">
                    <img src="/office/images/yogalivelinks_header.png" alt="" height="50px" width="200px" border="0" />
                    </a>
                </div>
            </td>
            <td align="right" valign="top">
                <div id="menu_holder">
                    <div class="menu">
                        @@MENU@@
                    </div>    
                </div>
            </td>
            <td align="right" valign="top">
                <div id="menu_holder_vertical">
                    <div class="menu_vertical">
                        @@MENU_LOGGED@@
                    </div>
                </div>
            </td>
        </tr>
        </table>
    </div>
</div>
    
    <div class="page_section_wrapper">
    <div class="page_section_header">
        @@PAGE_HEADER_TITLE@@
    </div>
    </div>

<div id="container_wrapper_lower">    
    <!-- ================================ CONTENT ===================================== -->
    <div id="content_area">
        
        @@PAGE_CONTENT@@ 
        @@CONTENT_RIGHT@@
        @@CONTENT_BOTTOM@@
        
    </div><!-- === end content_area === -->
    
    
    <div>
        @@DBMESSAGES@@
    </div>
    
    
    
</div><!-- === end container_wrapper === -->
</div><!-- === end container === -->


        <!-- ================================ FOOTER ===================================== -->
        <br />
        <div>
            <div id="footertext">
                <center>
                
                <div class="footer_menu">
                    <table>
                    <tr>
                        <td valign="top" align="left">@@FOOTER_OTHER@@</td>
                        <td valign="bottom" align="right">@@FOOTER_LINKS@@</td>
                        
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@@FOOTER_COPYRIGHT@@</td>
                    </tr>
                    </table>
                </div>
                
                </center>
            </div>
        </div>


</center>


</body>
</html>