<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
<!-- ================ Template :: /blank.html ================ -->   

<!-- ================TITLE================ -->   

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />
<title>@@TITLE@@</title>

<link rel="shortcut icon" href="http://www.yogalivelink.com/favicon3.ico" />

<!-- ================STYLE================ -->   
<link rel="stylesheet" type="text/css" href="/common/site.css" />
<!-- @@STYLE@@ -->

<!-- ================SCRIPT================ -->
<script type="text/javascript">
 function printpage(){
   document.getElementById('return').style.display = 'none';
   window.print();
   setTimeout("document.getElementById('return').style.display = ''", 1000);
 }
</script>
<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@SCRIPT@@ -->

</head>
<!-- ================BODY================ -->
<!-- @@META_HIDDEN@@ -->
<body>
@@CONTENT@@
</body>
</html>
