<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- ================ Template :: /splash.html ================ -->   

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />

    <link rel="stylesheet" type="text/css" href="/wo/style.css">

    <title>@@TITLE@@</title>


<!-- IE 6 hacks -->
<!-- [if lt IE 7] -->
<!-- link type='text/css' href='/css/i_css_contact_ie.css' rel='stylesheet' media='screen' / -->
<!-- [endif] -->
<!-- @@STYLE@@ -->

<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@SCRIPT@@ -->
</head>
<!-- @@META_HIDDEN@@ -->
<body bgcolor="#ffffcc">

@@PHPERROR@@
@@MESSAGE@@
@@ERROR@@
@@FLASH@@ 
<br />

<center>
        @@CONTENT@@
        <br /><br />
        <div style="font-size:22px; color:#CC3366; font-family:verdana; font-weight:bold;">COMING SOON</div>
</center>


</body>
</html>