<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- ================ Template :: /store_template.html ================ -->   

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />
<title>@@TITLE@@</title>

<link rel="shortcut icon" href="http://www.yogalivelink.com/favicon3.ico" />

<link rel="stylesheet" type="text/css" media="screen" href="/GROUP/css/site.css;css/store.css" />
<!-- IE 6 hacks -->
<!-- [if lt IE 7] -->
<!-- link type='text/css' href='/css/i_css_contact_ie.css' rel='stylesheet' media='screen' / -->
<!-- [endif] -->

<script type="text/javascript" src="/jslib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/GROUP/js/site.js;js/store.js"></script>
<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@STYLE@@ -->
<!-- @@SCRIPT@@ -->
</head>
<!-- @@META_HIDDEN@@ -->
<body>
<div id="container">
<div id="store_header"><h1>YOGA Online &mdash; Secure Store</h1></div>
<div class="container_gray">
@@PHPERROR@@@@ERROR@@@@MESSAGE@@@@FLASH@@@@CONTENT@@ 
</div>
<div class="container_dark">

<div class="container_light">
    <div id="footertext">
        &copy; 2010 Yoga Online
    </div>
</div>

</div>
    
</div>
@@DBMESSAGES@@
</body>
</html>