<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- ================ Template :: /template_new.html ================ -->   

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="@@META_DESCRIPTION@@" />
<meta name="keywords" content="@@META_KEYWORDS@@" />
<meta name="author" content="@@META_AUTHOR@@" />
<title>@@TITLE@@</title>

<link rel="shortcut icon" href="http://www.yogalivelink.com/favicon3.ico" />


<style type="text/css" media="screen">
    @import url(/wo/wo_style.css);
    @import url(/office/css/office_site_new.css);
    @import url(/office/css/office_site_class_styles.css);
    @import url(/GROUP/jslib/themes/base/ui.core.css;jslib/themes/base/ui.theme.css;jslib/themes/base/ui.datepicker.css);
    @import url(/wo/style.css)
</style>
<link rel="stylesheet" type="text/css" media="screen" href="/css/site_new.css" />

<!-- IE 6 hacks -->
<!-- [if lt IE 7] -->
<!-- link type='text/css' href='/css/i_css_contact_ie.css' rel='stylesheet' media='screen' / -->
<!-- [endif] -->
<!-- @@STYLE@@ -->

<style type="text/css" media="screen">

</style>


<script type="text/javascript" src="/jslib/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>
<script type="text/javascript" src="/wo/wo_all.js??20100924-4"></script>
<!-- @@SCRIPTINCLUDE@@ -->
<!-- @@SCRIPT@@ -->
</head>
<!-- @@META_HIDDEN@@ -->
<body>

<!-- @@BETA@@ -->

<div style="height:268px; width:44px; position:fixed; right:0px; top:80px; display:none;">
<a href="#" onclick="top.parent.appformCreateOverlay('Contact Us', getClassExecuteLinkNoAjax('y6uGY5ChTTLeRLCOwH64xyNo02WC8DbqQYCi79O8W0l4RVk~')+';template=overlay', 'apps'); return false;"><img src='/images/menu_float_contact_us.png' alt='Contact Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/signup'><img src='/images/menu_float_get_started.png' alt='Get Started With Yoga Live Link' border='0' /></a>
<br />
<a href='http://www.yogalivelink.com/test_computer'><img src='/images/menu_float_test_system.png' alt='Test Your Camera' border='0' /></a>
</div>

@@PHPERROR@@
@@MESSAGE@@
@@ERROR@@
@@FLASH@@


<center>

<div id="main_menu" class="shadow_bottom">
    <br />
    <div class="content_wrap" style="">
        <!-- ================================ START :: HEADER & MENU ===================================== -->
        <div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" valign="top">
                    <div id="header_graphics">
                        <a href="/index">
                        <img src="/office/images/yogalivelinks_header.png" alt="" height="65" border="0" />
                        </a>
                    </div>
                </td>
                <td align="right" valign="top">
                    <div id="menu_holder">
                        <div class="menu">
                            @@MENU@@
                        </div>    
                    </div>
                </td>
                <td align="right" valign="top">
                    <div id="menu_holder_vertical">
                        <div class="menu_vertical">
                            @@MENU_LOGGED@@
                        </div>
                    </div>
                </td>
            </tr>
            </table>
        </div>
        <!-- ================================ END :: HEADER & MENU ===================================== -->
    </div>
    <br />
</div>



<div style="position:relative; z-index:8;" id="content_middle" >
    
    <img src="/images/template/new_index.jpg" class="background_img" />
    
    <div class="content_wrap_2">
    <div class="content_wrap">
            <!-- ================================ START :: CONTENT ===================================== -->
            <div id="_content_area">
                <br /><br />
                
                @@CONTENT@@
                @@PAGE_CONTENT@@                
                
            </div> <!-- END :: _content_area -->
            <!-- ================================ END :: CONTENT ===================================== -->
    </div> <!-- END :: content_wrap -->
    </div> <!-- END :: content_wrap_2 -->
    
</div>


<div style="clear:both;"></div>



<div style="position:relative; z-index:50; top:400px; background-color:#f7f7f7;">
    <div id="index_content_lower">
    <div class="content_wrap">
        <!-- ================================ START :: LOWER CONTENT ===================================== -->
        <br /><br />
        
        @@INDEX_LOWER_CONTENT@@
        
        <!-- ================================ END :: LOWER CONTENT ===================================== -->


    </div> <!-- END :: content_wrap -->
    </div> <!-- END :: index_content_lower -->


    <!-- START FOOTER -->
    <br /><br /><br />
    <div class="footer">

                <div id="footertext">
                    <center>
                    <div class="footer_menu">
                        <table>
                        <tr>
                            <td valign="top" align="left">@@FOOTER_OTHER@@</td>
                            <td valign="bottom" align="right">@@FOOTER_LINKS@@</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><div class="footer_copyright">@@FOOTER_COPYRIGHT@@</div></td>
                        </tr>
                        </table>
                    </div>
                    </center>
                </div>

    </div><!-- END FOOTER -->
</div>




@@DBMESSAGES@@

</center>


</body>
</html>